[data-component="actor-notification-card"] {
  width: 100%;
}

[data-slot="actor-notification-status"] {
  text-transform: capitalize;
  font-weight: var(--font-weight-medium);
}

[data-slot="actor-notification-description"] {
  color: var(--text-base);
  font-weight: var(--font-weight-regular);
}

[data-slot="inbox-sender"] {
  font-weight: var(--font-weight-medium);
}

[data-slot="inbox-time"] {
  color: var(--text-weak);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
}
